{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb/base"],
  
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-plusplus": "off",
    "class-methods-use-this": "off",
    "max-len": "off",
    "import/prefer-default-export": "off",
    "semi": "off"
  }
}