.task-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.task-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.task-list li:last-child {
  border-bottom: none;
}
